<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
  </configSections>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <!-- Do not add any references here, as they are added dynamically by Sitefinity 
      and it will be duplicated-->
    </references>
    <connections>
      <connection id="DatabaseConnection1">
        <databasename>Database1</databasename>
        <servername>(local)\SQLEXPRESS</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="Telerik.StarterKit.Modules.Agents.Model">
          <class name="AgentItem">
            <extension key="db-table-name" value="sfex_agent_item" />
            <field name="permissions">
              <collection>
                <extension key="db-link-table" />
              </collection>
            </field>
            <field name="urls">
              <collection>
                <extension key="inverse" value="parent" />
                <extension key="managed" value="true" />
              </collection>
            </field>
            <field name="permissionChildren">
              <collection>
                <extension key="db-link-table" />
              </collection>
            </field>
          </class>
          <class name="AgentItemUrlData">
            <!--<extension key="db-table-name" value="sfex_agent_item_urls" />-->
            <field name="parent">
              <extension key="db-ref" value="Telerik.Sitefinity.GenericContent.Model.Content.contentId">
                <extension key="db-column">
                  <extension key="db-column-name" value="content_id" />
                </extension>
              </extension>
            </field>
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Utilities" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Model" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Events" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Notifications" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.926.1" newVersion="2015.3.926.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.926.1" newVersion="2015.3.926.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.930.40" newVersion="2015.3.930.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Comments" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.5900.0" newVersion="8.2.5900.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
