<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5200.0">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/StarterKit/App_Themes/StarterKit/" name="StarterKit" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Introduction/App_Themes/Introduction/" name="Introduction" />
	</frontendThemes>
</appearanceConfig>