<?xml version="1.0" encoding="utf-8"?>
<ecommerceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.4.4000.0" defaultProductTypesInstalled="True" defaultProductTypeFieldsInstalled="True">
	<supportedCurrencies>
		<add culture="en-gb" countryIsoCode="EN" name="GBP" />
	</supportedCurrencies>
</ecommerceConfig>