<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5200.0">
	<notifications formEntrySubmittedNotificationTemplateId="f9590eae-0b8d-4959-87ab-9ee7536e4a4e" />
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
	</providers>
</formsConfig>