<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications formEntrySubmittedNotificationTemplateId="f9590eae-0b8d-4959-87ab-9ee7536e4a4e" updatedFormEntrySubmittedNotificationTemplateId="c75e74ab-a81c-6d0a-b54f-ff000027539d" />
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
	</providers>
</formsConfig>