<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<notifications newPostNotificationTemplateId="18743eb5-e727-4eb3-aec6-89ee76a9065f" newThreadNotificationTemplateId="fbde96ed-1697-4a1d-af69-5c1eb551f217" />
</forumsConfig>