<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0" mediaPlayerMode="Silverlight" videoTag="Object">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos AllowedExensionsSettings=".wmv">
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
		<add enableCommentsBackwardCompatibility="True" name="SystemLibrariesProvider" />
		<add description="A provider for the translations module that stores libraries data in database using OpenAccess ORM." applicationName="sf_translations" providerGroup="System" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" enabled="True" name="sf_translations_lib_provider" />
	</providers>
</librariesConfig>