<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0">
	<providers>
		<add version="4.1.1405.0" name="XmlDataProvider" config:flags="1" />
	</providers>
</resourcesConfig>