<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0" authenticationMode="Forms" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="FB254D4FB205DB2082C6DB11C180ECCD067144C7E670A7436AD771CFB13899EB9FEF53E80EAA05695273AFE254CDA74E636CB0F8C381249E40CACD50D5CA1C81" decryptionKey="30D62E9BACD563E07D5FF371E8FE4BF7775F83387308509CB7113A6380982AF6" loggingCookieName=".SFLOG-/" filterQueriesByViewPermissions="True">
	<securityTokenIssuers>
		<add key="706980D7575BFE9587DCEB9E704125CB800B5626F3C5CE9FB9715E5F07E47505" encoding="Hexadecimal" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="706980D7575BFE9587DCEB9E704125CB800B5626F3C5CE9FB9715E5F07E47505" encoding="Hexadecimal" realm="http://localhost" />
	</relyingParties>
	<permissions>
		<permission title="AgentsPermissions" description="AgentsPermissionsDescription" resourceClassId="AgentsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Agents">
			<actions>
				<add title="ViewAgents" description="ViewAgentsDescription" resourceClassId="AgentsResources" type="View" name="ViewAgents" />
				<add title="CreateAgents" description="CreateAgentsDescription" resourceClassId="AgentsResources" type="Create" name="CreateAgents" />
				<add title="ModifyAgents" description="ModifyAgentsDescription" resourceClassId="AgentsResources" type="Modify" name="ModifyAgents" />
				<add title="DeleteAgents" description="DeleteAgentsDescription" resourceClassId="AgentsResources" type="Delete" name="DeleteAgents" />
				<add title="ChangeAgentsOwner" description="ChangeAgentsOwnerDescription" resourceClassId="AgentsResources" type="ChangeOwner" name="ChangeAgentsOwner" />
				<add title="ChangeAgentsPermissions" description="ChangeAgentsPermissionsDescription" resourceClassId="AgentsResources" type="ChangePermissions" name="ChangeAgentsPermissions" />
			</actions>
		</permission>
		<permission title="RealEstatePermissions" description="RealEstatePermissionsDescription" resourceClassId="RealEstateResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="RealEstate">
			<actions>
				<add title="ViewItems" description="ViewItemsDescription" resourceClassId="RealEstateResources" type="View" name="ViewItems" />
				<add title="CreateItems" description="CreateItemsDescription" resourceClassId="RealEstateResources" type="Create" name="CreateItems" />
				<add title="ModifyItems" description="ModifyItemsDescription" resourceClassId="RealEstateResources" type="Modify" name="ModifyItems" />
				<add title="DeleteItems" description="DeleteItemsDescription" resourceClassId="RealEstateResources" type="Delete" name="DeleteItems" />
				<add title="ChangeItemOwner" description="ChangeItemOwnerDescription" resourceClassId="RealEstateResources" type="ChangeOwner" name="ChangeItemsOwner" />
				<add title="ChangeItemPermissions" description="ChangeItemPermissionsDescription" resourceClassId="RealEstateResources" type="ChangePermissions" name="ChangeItemsPermissions" />
			</actions>
		</permission>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Agents">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.StarterKit.Modules.Agents.Model.AgentItem">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateAgents" />
						<customSecurityAction showActionInList="True" title="ModifyThisAgent" resourceClassId="AgentsResources" name="ModifyAgents" />
						<customSecurityAction showActionInList="True" title="ViewThisAgent" resourceClassId="AgentsResources" name="ViewAgents" />
						<customSecurityAction showActionInList="True" title="DeleteThisAgent" resourceClassId="AgentsResources" name="DeleteAgents" />
						<customSecurityAction showActionInList="True" title="ChangeOwnerOfThisAgent" resourceClassId="AgentsResources" name="ChangeAgentsOwner" />
						<customSecurityAction showActionInList="True" title="ChangePermissionsOfThisAgent" resourceClassId="AgentsResources" name="ChangeAgentsPermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="RealEstate">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.StarterKit.Modules.RealEstate.Model.RealEstateItem">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateItems" />
						<customSecurityAction showActionInList="True" title="ModifyThisItem" resourceClassId="RealEstateResources" name="ModifyItems" />
						<customSecurityAction showActionInList="True" title="ViewThisItem" resourceClassId="RealEstateResources" name="ViewItems" />
						<customSecurityAction showActionInList="True" title="DeleteThisItem" resourceClassId="RealEstateResources" name="DeleteItems" />
						<customSecurityAction showActionInList="True" title="ChangeOwnerOfThisItem" resourceClassId="RealEstateResources" name="ChangeItemsOwner" />
						<customSecurityAction showActionInList="True" title="ChangePermissionsOfThisItem" resourceClassId="RealEstateResources" name="ChangeItemsPermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="cdf14094-4b53-48c7-9d9a-fa7b054e1500" name="Everyone" />
		<role id="47ccf163-5ec5-4645-b8d7-9a26952f3eef" name="Anonymous" />
		<role id="e4b5c775-6dd3-48ba-a234-ebff353e5fe7" name="Authenticated" />
		<role id="b667ec75-69be-4210-a99d-7771a190654c" name="Owner" />
		<role id="a121cd9e-b2d9-4cb7-b6c1-140197b30dfd" name="Administrators" />
		<role id="f076cc0e-ab14-48a6-8dc6-3af23d64089a" name="BackendUsers" />
		<role id="0cf6c16d-8249-49ff-8ff3-0d8ae658f882" name="Authors" />
		<role id="402c28f2-0a90-4b81-a85f-050650b14d44" name="Editors" />
		<role id="23a29dd8-aa37-48c8-b7ba-9a20652dcf05" name="Designers" />
		<role id="43075f69-8aef-4012-ab0a-9e0447b425ee" name="Users" />
	</applicationRoles>
	<securityProviders>
		<add version="4.1.1405.0" name="OpenAccessDataProvider" />
	</securityProviders>
	<membershipProviders>
		<config:link name="OpenAccessMembership37Provider" path="migrationModuleConfig/membershipProviders/OpenAccessMembership37Provider" module="Migration" />
	</membershipProviders>
</securityConfig>