<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<notifications siteSyncCompletedSubmittedNotificationTemplateId="576074ab-a81c-6d0a-b54f-ff000027539d" />
</siteSyncConfig>