<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="d623cdac-8930-4fae-82b8-0a98a9dc15b7" importLibraryId="07429c22-9e71-4a3f-b605-c0b4234693d1" name="Xliff" />
	</connectors>
</translationsConfig>