<?xml version="1.0" encoding="utf-8"?>
<userProfilesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<providers>
		<add version="4.1.1405.0" name="OpenAccessProfileProvider" config:flags="1" />
	</providers>
</userProfilesConfig>