<?xml version="1.0" encoding="utf-8"?>
<virtualPathSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0">
	<virtualPaths>
		<add resourceLocation="Telerik.StarterKit.Modules.Agents.AgentsWorkflow.xamlx,Telerik.StarterKit.Modules.Agents" resolverName="EmbeddedResourceResolver" virtualPath="~/Workflows/Agents.xamlx" />
		<add resourceLocation="Telerik.StarterKit.Modules.RealEstate.RealEstateWorkflow.xamlx,Telerik.StarterKit.Modules.RealEstate" resolverName="EmbeddedResourceResolver" virtualPath="~/Workflows/RealEstate.xamlx" />
		<add resourceLocation="TemplateImporter" resolverName="EmbeddedResourceResolver" virtualPath="~/SFTemplateImporter/*" />
		<add resourceLocation="Telerik.Sitefinity.Forums" resolverName="EmbeddedResourceResolver" virtualPath="~/SFForums/*" />
		<add resourceLocation="Telerik.Sitefinity.Ecommerce" resolverName="EmbeddedResourceResolver" virtualPath="~/SFEcommerce/*" />
		<add resourceLocation="Telerik.Sitefinity.Analytics.Server.Infrastructure" resolverName="EmbeddedResourceResolver" virtualPath="~/AnalyticsModule/*" />
		<add resourceLocation="Telerik.Sitefinity.Dashboard" resolverName="EmbeddedResourceResolver" virtualPath="~/SFDashboard/*" />
		<add resourceLocation="Telerik.Sitefinity.MobileAppBuilder" resolverName="EmbeddedResourceResolver" virtualPath="~/MobileAppBuilder/*" />
		<add resourceLocation="Telerik.Sitefinity.SharepointConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/SFConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.EverliveConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/EverliveConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.MarketoConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/MarketoConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.SalesForceConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/SalesForceConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.SiteSync" resolverName="EmbeddedResourceResolver" virtualPath="~/SFSiteSync/*" />
	</virtualPaths>
</virtualPathSettingsConfig>