<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
  </configSections>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <!-- Do not add any references here, as they are added dynamically by Sitefinity 
      and it will be duplicated-->
    </references>
    <connections>
      <connection id="DatabaseConnection1">
        <databasename>Database1</databasename>
        <servername>(local)\SQLEXPRESS</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="Telerik.StarterKit.Modules.RealEstate.Model">
          <class name="RealEstateItem">
            <extension key="db-table-name" value="sfex_realestate_item" />
            <field name="permissions">
              <collection>
                <extension key="db-link-table" />
              </collection>
            </field>
            <field name="urls">
              <collection>
                <extension key="inverse" value="parent" />
                <extension key="managed" value="true" />
              </collection>
            </field>
            <field name="permissionChildren">
              <collection>
                <extension key="db-link-table" />
              </collection>
            </field>
          </class>
          <class name="RealEstateItemUrlData">
            <!--<extension key="db-table-name" value="sfex_realestate_item_urls" />-->
            <field name="parent">
              <extension key="db-ref" value="Telerik.Sitefinity.GenericContent.Model.Content.contentId">
                <extension key="db-column">
                  <extension key="db-column-name" value="content_id" />
                </extension>
              </extension>
            </field>
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
</configuration>